body {
  background-color: $bg_second_color;
  background-image: url("../img/promo-img.jpg");
  background-size: 103% 825px;
  background-position: center top;
  background-repeat: no-repeat;
  object-fit: cover;

  @media (max-width: $tablet_max) {
    background-image: none;
  }
}
