.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;

  @media (max-width: $tablet_max) {
    min-width: $mobile_min;
    background-color: $bg_first_color;

    &--js {
      height: 100%;
      position: fixed;
      z-index: 100;
    }
  }
}
