.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.main__promo-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  width: 61.1vw;
  margin: 256px 0 0 0;

  @media (max-width: $tablet_max) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;

    background-image: url("../img/promo-img.jpg");
    background-size: 100% 439px;
    background-position: center -49px;
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile_max) {
    min-width: $mobile_min;
    background-image: url("../img/promo-img-mobile.jpg");
    background-size: 174% 396px;
    background-position: center -2px;
    object-fit: cover;
  }
}
