.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 62.85vw;
  min-height: 62px;

  @media (max-width: $tablet_max) {
    width: 100%;
    min-height: 568px;

    &--js-close {
      display: none;
    }
  }

  //background-color: red;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 62.39vw;
  margin: 28px 0 0 0;
  padding: 0;
  border-bottom: 1px solid $border_first_color;

  @media (max-width: $tablet_max) {
    flex-direction: column;
    min-height: 330px;
    width: 100%;
    min-width: 320px;
    margin-top: 57px;
    border: none;
  }
}

.main-nav__item {
  position: relative;
  margin-left: 38px;
  list-style: none;

  @media (max-width: $tablet_max) {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    min-height: 60px;
    width: 100%;
    margin: 0;
    background-color: $bg_third_color;

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 24px;
      width: 8px;
      height: 12px;
      background-image: url("../img/icon-arrow.svg");
      background-repeat: no-repeat;
    }
  }
}

.main-nav__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-align: center;

  color: $bg_first_color;

  @media (max-width: $tablet_max) {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: $text_main_color;

    width: 100%;
    height: 100%;
    min-height: 60px;
    padding-left: 16px;

    text-align: left;
    padding-top: 17px;
  }
}

.main-nav__close {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: start;

  width: 100%;
  background-color: white;

  @media (min-width: $desktop_min) {
    display: none;
  }
}

.main-nav__close-wrapper {
  margin: 14px 13px 0 0;
}

.main-nav__close-svg {
  //margin: 15px 15px 0 0;
  width: 100%;
  height: 100%;
}
