.types {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 149px 0 132px 0;
  background-color: $bg_fourth_color;
  overflow: hidden;

  @media (max-width: $tablet_max) {
    padding: 50px 0 19px 0;
  }

  @media (max-width: $mobile_max) {
    min-width: 280px;
    padding: 50px 0 12px;
  }
}

.types__heading h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  color: $text_fourth_color;

  @media (max-width: $tablet_max) {
    font-size: 24px;
    line-height: 41px;
  }
}

.types__field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 78.2vw;
  max-width: 1127px;
  margin: 50px 0 0 0;

  @media (min-width: 1024px) and (max-width: 1373px) {
    min-width: 1004px;
  }

  @media (max-width: $tablet_max) {
    width: 83.5vw;
    margin: 30px 0 0 0;
    min-width: 650px;
    min-height: 808.9px;
  }

  @media (min-width: 970px) and (max-width: 1023px) {
    min-width: 850px;
  }

  @media (min-width: 630px) and (max-width: 767px) {
    min-height: 856px;
  }

  @media (max-width: 629px) {
    min-width: 280px;
    min-height: 1188.9px;
  }
}

.types__item-road {
  min-height: 554px;
  margin-top: 10px;

  &::after {
    content: "";
    position: absolute;
    bottom: 221px;
    right: 222px;
    width: 180px;
    height: 180px;
    background-image: url("../img/circle-big.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;

    @media (min-width: 1024px) and (max-width: 1373px) {
      right: 200px;
    }

    @media (max-width: $tablet_max) {
      bottom: 30px;
      right: 178px;
      width: 127px;
      height: 127px;
    }

    @media (max-width: $mobile_max) {
      bottom: 28px;
      right: 169px;
    }
  }
}

.types__item-road img {
  position: relative;
  height: 503px;
  z-index: 5;
  background-color: #707b46;
}

.types__item-mountain {
  min-height: 636px;
  margin-top: 39px;
}

.types__item-mountain img {
  position: relative;
  width: 342px;
  height: 566px;
  background-color: #7b6149;
}

.types__item-mountain .types__img {

  &::before {
    content: "";
    position: absolute;
    top: -18px;
    left: -19px;
    width: 47px;
    height: 47px;
    background-image: url("../img/square.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 5;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 48px;
    right: -23px;
    width: 47px;
    height: 47px;
    background-image: url("../img/square.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (max-width: $tablet_max) {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.types__item-children {
  min-height: 596px;
}

.types__item-children img {
  width: 342px;
  height: 513px;
  background-color: #c9b2b1;
}

.types__item-children .types__img {

  &::after {
    content: "";
    position: absolute;
    bottom: 533px;
    right: -36px;
    width: 95px;
    height: 95px;
    background-image: url("../img/circle-small.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;

    @media (min-width: 1024px) and (max-width: 1373px) {
      z-index: 1;
      bottom: 533px;
      right: -36px;
    }

    @media (max-width: $tablet_max) {
      bottom: 310px;
      right: -26px;
      width: 68px;
      height: 68px;
    }

    @media (max-width: $mobile_max) {
      bottom: 310px;
      right: -13px;
    }
  }
}

.types__bicycle p {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  text-align: center;
  color: $text_third_color;
}

.types__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: $tablet_max) {
    min-height: 352px;
    margin: 0 auto;
  }
}

.types__item img {
  border-radius: 10px;

  @media (min-width: 1024px) and (max-width: 1373px) {
    width: 320px;
  }

  @media (max-width: $tablet_max) {
    width: 270px;
    height: 300px;
  }
}
