////Переменные
$font: "OpenSans", "Arial", sans-serif;

//$desktop_content: 62.39vw;

$desktop_min: 1024px;
$tablet_max: 1023px;
//$tablet_min: 768px;
$mobile_max: 767px;
$mobile_min: 320px;

$bg_first_color: #ffffff;
$bg_second_color: #161616;
$bg_third_color: #f6f6f6;


//$bg_toggle_first: #fe7865;
//$bg_toggle_second: #d0d0d1;
//$bg_toggle_third: #F17D4B;

$text_main_color: rgba(72, 73, 77, 1);
$text_second_color: rgba(141, 141, 141, 1);
$text_third_color: #000000;
$text_fourth_color: #1f1f1f;

//$text_second_color_70: rgba(20, 21, 23, 0.7);
//$text_third_color_30: rgba(44, 46, 63, 0.3);
//$text_third_color_70: rgba(44, 46, 63, 0.7);
//$text_five_color: #48494D;

$border_first_color: rgba(255, 255, 255, 0.2);
$border_second_color: #c9ccd4;

$button_color_form: #0ad9c6;
//$shadow_first: rgba(41, 54, 66, 0.1);
//$shadow_second: rgba(20, 21, 23, 0.6);
//
//$retina-dpi: 144dpi;
//$retina-dppx: 1.5dppx;
